psutil
flash_attn
uvicorn==0.22.0
fastapi==0.95.2
sentence_transformers==2.7.0
pydantic==1.10.7
datasets==2.20.0  # or use the latest version
numpy==1.26.4
torch  # Let it install the latest compatible version with CUDA
torchvision
torchaudio
-f https://download.pytorch.org/whl/cu121/torch_stable.html
transformers==4.42.4
